
@import 'navbar';
@import 'footer';
@import 'home';
@import 'products';
@import 'single';


// body class when nav menu is slide down on mobile.
.no-scroll {
  overflow: hidden;
  .lower-nav {
    overflow-y: auto;
  }
}

// universal css (font-size, font, anchor, box-sizing)
* {
  // border: 1px solid red; // dev-mode
  user-select: none;
}
body,html {
  font-family: $lato;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
