// sass variables declaration
// fonts
$lato: 'Lato', sans-serif;
$elite: 'Special Elite', cursive;
$cursive: 'Great Vibes', cursive;
$round: 'Merienda', cursive;

// colors
$white: #e8edf3;
$mint: #c5d5cb;
$white_gray: #e3e0cf;
$light_gray: #5a5c51;
$black: #1d2120;
$orange: #e05038;
$light_orange: #e6cf8b;
$red: #c43235;
